// subi el padding al 35
.wrap { 
    padding: 35px; 
    text-align: rigth; 
    box-shadow: 0 2px 25px -4px #9da5ab; 
}

// le quite el align-center
article { 
    padding: 25px 0; 
    line-height: 150%;  
}

// Modifique que la decoracion sea underline
nav .item {
    text-decoration: underline;
}
nav .active {
    border-bottom: 1px solid;   
}

@media only screen and (min-width: 768px) {
    article { 
        padding: 40px; 
    }
    .wrap { 
        max-width: 750px; 
        margin: 50px auto;
        padding: 30px 40px;
    }
}
    
